#text-editor,
#html-viewer {
    border: 1px solid #000;
    border-radius: 5px;
    height: 500px;
    margin-bottom: 15px;
    padding: 10px;
}
#html {
    white-space: pre-wrap;
}
#foreColor {
    margin-left: 15px;
}
.col-sm-12 {
    margin-bottom: 15px;
}
a {
    text-decoration: none;
}
button {
    margin-left: 5px;
}
