<!doctype html>
<head>
    <title>Basic HTML Editor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script>
      if (location.protocol !== 'https:' && location.href.indexOf('127.0.0.1') !== 7) {
          location.replace(`https:${location.href.substring(location.protocol.length)}`);
      }
    </script>
</head>
<html>
   <body class="container-fluid">
     <div class="container">
      <div class="row mt-3 mb-3">
        <div class="col-12">
          <h1 class="text-center">Basic HTML Editor</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 btn-toolbar">
          <button type="button" class="btn btn-outline-primary btn-sm" onclick="format('bold');"><span style="font-weight: bold">Bold</span></button>
          <button type="button" class="btn btn-outline-primary btn-sm" onclick="format('italic');"><span style="font-style: italic">Italic</span></button>
          <button type="button" class="btn btn-outline-primary btn-sm" onclick="format('underline');"><span style="text-decoration: underline">Underline</span></button>
          <button type="button" class="btn btn-outline-primary btn-sm" onclick="format('strikethrough');"><span style="text-decoration: line-through">Strikethrough</span></button>
        </div>
        <div class="col-sm-12 col-md-6 btn-toolbar">
          <input type="color" class="form-control form-control-color form-control-sm" id="backColor" value="#FFFF00" title="Select a background color">
          <button type="button" class="btn btn-outline-primary btn-sm" onclick="format('backcolor', document.getElementById('backColor').value);">Background color</button>
          <input type="color" class="form-control form-control-color form-control-sm" id="foreColor" value="#008000" title="Select a foreground color">
          <button type="button" class="btn btn-outline-primary btn-sm" onclick="format('forecolor', document.getElementById('foreColor').value);">Text color</button>
        </div>
        <div class="col-sm-12 col-md-6 btn-toolbar">
          <button type="button" class="btn btn-outline-primary btn-sm" onclick="format('cut');">Cut</button>
          <button type="button" class="btn btn-outline-primary btn-sm" onclick="showDialog('createLink', 'Enter a URL for the display text.');">Insert hyperlink</button>
          <button type="button" class="btn btn-outline-primary btn-sm" onclick="format('unlink');">Remove hyperlink</button>
        </div>
      </div>
      <div class="row">
        <div id="text-editor" contentEditable="true" class="col-sm-12 col-md-5">This is a very basic text editor. Enter any text and then preview the generated HTML markup.</div>
        <div id="html-viewer" class="col-sm-12 col-md-5 offset-md-2"><pre id="html"></pre></div>
      </div>
      <div class="row">
        <div class="col-sm-12 btn-toolbar d-flex justify-content-center">
          <button type="button" class="btn btn-primary btn-sm" onclick="copyToClipboard();">Copy HTML to Clipboard</button>
          <button type="button" class="btn btn-success btn-sm" onclick="loadHtml();">Preview HTML</button>
          <button type="button" class="btn btn-danger btn-sm" onclick="clearHtml();">Clear Text</button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p class="text-end">Copyright &copy; <span id="year"></span> <a href="https://bjdelacruz.dev">BJ Peter Dela Cruz</a></p>
        </div>
      </div>
     </div>
   </body>
   <script src="{{ url_for('static', filename='js/texteditor.js') }}"></script>
</html>